@import "@catppuccin/palette/css/catppuccin.css";
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* Prism Theme */
/* ---------------------------------------------------------- */
code[class*="language-"],
pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: var(--ctp-mocha-text);
    background: var(--ctp-mocha-mantle);
    font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1rem;
    line-height: 1.5rem;

    text-shadow: none;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

@supports (font-variation-settings: normal) {
    code[class*="language-"],
    pre[class*="language-"] {
        font-family: 'Fira Code VF', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    }
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection {
    background: var(--ctp-mocha-surface0);
}

code[class*=language-] ::selection,
code[class*=language-]::selection,
pre[class*=language-] ::selection,
pre[class*=language-]::selection {
    background: var(--ctp-mocha-surface0);
}

:not(pre)>code[class*="language-"] {
    white-space: normal;
    border-radius: 0.2rem;
    padding: 0.1rem;
}

pre[class*="language-"] {
    overflow: auto;
    position: relative;
    /* margin: 0.5rem 0; */
    padding: 1.25rem 1rem;
}

.command-line-prompt {
    border: none;
    margin: 0;
    font-size: 0.8rem;
}

.language-css>code,
.language-sass>code,
.language-scss>code {
    color: var(--ctp-mocha-flamingo);
}

[class*="language-"] .namespace {
    opacity: 0.7;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    background: none;
}

.token.atrule {
    color: var(--ctp-mocha-pink);
}

.token.attr-name {
    color: var(--ctp-mocha-yellow);
}

.token.attr-value {
    color: var(--ctp-mocha-green);
}

.token.attribute {
    color: var(--ctp-mocha-green);
}

.token.boolean {
    color: var(--ctp-mocha-pink);
}

.token.builtin {
    color: var(--ctp-mocha-yellow);
}

.token.cdata {
    color: var(--ctp-mocha-teal);
}

.token.char {
    color: var(--ctp-mocha-teal);
}

.token.class {
    color: var(--ctp-mocha-yellow);
}

.token.class-name {
    color: var(--ctp-mocha-yellow);
}

.token.comment {
    color: var(--ctp-mocha-overlay0);
}

.token.constant {
    color: var(--ctp-mocha-pink);
}

.token.deleted {
    color: var(--ctp-mocha-red);
}

.token.doctype {
    color: var(--ctp-mocha-overlay0);
}

.token.entity {
    color: var(--ctp-mocha-red);
}

.token.function {
    color: var(--ctp-mocha-pink);
}

.token.hexcode {
    color: var(--ctp-mocha-yellow);
}

.token.id {
    color: var(--ctp-mocha-pink);
    font-weight: bold;
}

.token.important {
    color: var(--ctp-mocha-pink);
    font-weight: bold;
}

.token.inserted {
    color: var(--ctp-mocha-teal);
}

.token.keyword {
    color: var(--ctp-mocha-pink);
}

.token.number {
    color: var(--ctp-mocha-flamingo);
}

.token.operator {
    color: var(--ctp-mocha-sky);
}

.token.prolog {
    color: var(--ctp-mocha-overlay0);
}

.token.property {
    color: var(--ctp-mocha-teal);
}

.token.pseudo-class {
    color: var(--ctp-mocha-green);
}

.token.pseudo-element {
    color: var(--ctp-mocha-green);
}

.token.punctuation {
    color: var(--ctp-mocha-sky);
}

.token.regex {
    color: var(--ctp-mocha-yellow);
}

.token.selector {
    color: var(--ctp-mocha-red);
}

.token.string {
    color: var(--ctp-mocha-green);
}

.token.symbol {
    color: var(--ctp-mocha-pink);
}

.token.tag {
    color: var(--ctp-mocha-red);
}

.token.unit {
    color: var(--ctp-mocha-flamingo);
}

.token.url {
    color: var(--ctp-mocha-red);
}

.token.variable {
    color: var(--ctp-mocha-red);
}