@import "prism.css";
@import "prism-theme.css";
@import "tocbot.css";

@tailwind base;

@layer base {
  html body {
    @apply text-ctp-text bg-ctp-base;
  }

  img {
    @apply opacity-90;
  }

  kbd {
    @apply bg-ctp-surface0;
  }

  figcaption a {
    @apply text-ctp-text;
  }

  hr {
    @apply border-t-ctp-surface2;
  }

  .site-header {
    @apply relative text-white bg-accent;
  }

  .site-header-cover {
    @apply absolute top-0 right-0 bottom-0 left-0 w-full h-full object-cover;
  }

  .site-header-content {
    @apply relative z-[100] flex items-center pt-[calc(19vmin_+_44px)] pb-[19vmin] text-center min-h-[560px] bg-[var(--ghost-accent-color)] text-white max-md:min-h-[240px] max-lg:pt-[calc(19vmin_+_32px)];
  }

  .site-header-inner {
    @apply relative max-md:gap-4;
  }

  .site-header-content.left-aligned {
    @apply text-left items-end pb-[max(4vmin,_32px)];
  }

  .site-header-content.no-content {
    @apply pt-0 pb-[2vmin];
  }

  .site-header-content.left-aligned .site-header-inner {
    @apply items-start;
  }

  .site-logo {
    @apply shrink-0 my-0 mx-auto max-h-[120px] max-md:max-w-[60%];
  }

  .site-header-content.left-aligned .site-logo {
    @apply mr-auto ml-0 max-h-24;
  }

  .site-title {
    @apply z-10 p-0 m-0 font-extrabold text-8xl max-md:!text-5xl;
  }

  .site-header-content.left-aligned .site-title {
    @apply text-7xl;
  }

  .site-description {
    @apply inline-block z-10 max-w-[960px] font-bold leading-4 tracking-[-0.005em] text-white max-lg:!text-4xl;
  }

  :is(.site-logo, .site-title) + .site-description {
    @apply max-w-[640px] mt-4 text-4xl font-normal leading-[1.4];
  }

  .site-logo + .site-description {
    @apply mt-5 max-md:!mt-3;
  }

  .site-title + .site-description {
    @apply text-ctp-subtext1 max-md:!mt-3;
  }

  .site-header-content.left-aligned
    :is(.site-logo, .site-title)
    + .site-description {
    @apply text-4xl;
  }

  :is(
      .post-card-tags,
      .post-card-meta,
      .article-tag a,
      .byline-meta-content,
      .pagination .page-number
    ) {
    @apply text-ctp-subtext0;
  }

  .site-content {
    @apply grow;
  }

  /* Full width page blocks */
  .outer {
    @apply relative py-0 px-[max(4vmin,_20px)];
  }

  /* Centered content container blocks */
  .inner {
    @apply my-0 mx-auto max-w-7xl w-full;
  }

  .gh-content {
    @apply relative;
  }
}

@tailwind components;

@layer components {
  /* 4. Site Navigation
  /* ---------------------------------------------------------- */
  .gh-head {
    @apply h-[88px] text-lg leading-[1.3em] bg-[var(--ghost-accent-color)] text-white font-semibold;
  }

  :is(.home-template, .paged:not(.tag-template):not(.author-template))
    .gh-head {
    @apply absolute top-0 right-0 left-0 z-[2000] bg-transparent text-white;
  }

  .gh-head-inner {
    @apply grid gap-10 grid-cols-[auto_1fr_auto] grid-flow-row-dense items-center h-full;
  }

  /* Brand
  /* ---------------------------------------------------------- */
  .gh-head-brand {
    @apply flex items-center h-10 break-all;
  }

  .gh-head-logo {
    @apply block font-extrabold text-[2.6rem] tracking-[-0.02em] whitespace-nowrap text-white;
  }

  .gh-head-logo.no-image {
    @apply mt-[-5px];
  }

  .gh-head-logo img {
    @apply max-h-10;
  }

  .home-template .gh-head .gh-head-logo {
    @apply hidden;
  }

  /* Primary Navigation
  /* ---------------------------------------------------------- */
  .gh-head-menu {
    @apply flex items-center mt-px lg:ml-4 lg:mr-16;
  }

  .gh-head-menu .nav {
    @apply inline-flex items-center flex-wrap gap-8 [list-style:none] m-0 p-0;
  }

  .gh-head-menu .nav li {
    @apply m-0 p-0;
  }

  .gh-head-menu .nav a {
    @apply inline-block text-[inherit] hover:opacity-80;
  }

  .gh-head-menu .nav-more-toggle {
    @apply relative w-[30px] h-[30px] text-[inherit] bg-transparent [text-transform:inherit] -mx-1.5 my-0 p-0;
  }

  .gh-head-menu .nav-more-toggle svg {
    @apply w-6 h-6;
  }

  .home-template .gh-head .gh-head-menu {
    @apply -ml-10;
  }

  body:not(.is-dropdown-loaded) .gh-head-menu .nav > li {
    @apply lg:opacity-0;
  }

  /* Dropdown
  /* ---------------------------------------------------------- */
  .gh-dropdown {
    @apply absolute z-[90] w-[200px] opacity-0 invisible text-left bg-white shadow-[0_0_0_1px_rgba(0,0,0,0.04),0_7px_20px_-5px_rgba(0,0,0,0.15)] [transform:translate3d(0,6px,0)] transition-opacity duration-[0.3s,transform] delay-[0.2s] mt-6 px-0 py-3 rounded-[5px] -right-4 top-full;
  }

  .is-dropdown-mega .gh-dropdown {
    @apply grid grid-cols-[1fr_1fr] grid-flow-col gap-x-10 min-w-[320px] px-8 py-5;
  }

  .is-dropdown-open .gh-dropdown {
    @apply opacity-100 visible translate-y-0;
  }

  .gh-head-menu .gh-dropdown li a {
    @apply block text-[#15171a] px-5 py-1.5;
  }

  .is-dropdown-mega .gh-dropdown li a {
    @apply px-0 py-2;
  }

  /* Secondary Navigation
  /* ---------------------------------------------------------- */
  .gh-social {
    @apply flex items-center gap-5;
  }

  .gh-social-link {
    @apply leading-[0] text-[inherit] hover:opacity-90;
  }

  .gh-social-link svg {
    @apply w-[18px] h-[18px];
  }

  .gh-head-actions {
    @apply flex justify-end items-center gap-6 [list-style:none] text-right;
  }

  .gh-head-members {
    @apply flex gap-5 items-center max-lg:flex-col-reverse max-lg:gap-4 max-lg:w-full;
  }

  .gh-head-link {
    @apply text-[inherit];
  }

  .gh-head-button {
    @apply inline-flex justify-center items-center h-10 text-black bg-white px-4 py-2 rounded-full;
  }

  /* Search
  /* ---------------------------------------------------------- */
  .gh-search {
    @apply inline-flex items-center justify-center w-8 h-8 cursor-pointer bg-transparent [outline:none] p-0 border-0 hover:opacity-90;
  }

  .gh-head-brand .gh-search {
    @apply mr-2 md:hidden;
  }

  .gh-head-actions .gh-search {
    @apply -mr-1 max-lg:hidden;
  }

  /* Mobile Menu Trigger
  /* ---------------------------------------------------------- */
  .gh-burger {
    @apply relative hidden w-[30px] h-[30px] mr-[-3px] cursor-pointer bg-transparent appearance-none p-0 border-0 before:top-[11px] after:bottom-[11px];
    @apply before:bg-ctp-text after:bg-ctp-text;
  }

  .gh-burger::before,
  .gh-burger::after {
    @apply absolute w-6 h-px content-[""] transition-all duration-[0.2s] ease-[cubic-bezier(0.04,_0.04,_0.12,_0.96)] delay-[0.1008s] bg-white left-[3px];
  }

  .gh-head-open .gh-burger::before {
    @apply rotate-45 top-[15px];
  }

  .gh-head-open .gh-burger::after {
    @apply -rotate-45 bottom-3.5;
  }

  /* Mobile Menu
  /* ---------------------------------------------------------- */
  /* IDs needed to ensure sufficient specificity */
  @media (max-width: 767px) {
    #gh-head {
      @apply h-16;
    }

    #gh-head .gh-head-inner {
      @apply grid-rows-[auto_1fr_auto] grid-cols-[1fr] gap-12;
    }

    #gh-head .gh-head-brand {
      @apply grid grid-cols-[1fr_auto_auto] col-start-1 items-center h-16;
    }

    #gh-head .gh-head-logo {
      @apply text-[2.2rem];
    }

    #gh-head .gh-head-brand .gh-search {
      @apply -ml-1.5;
    }

    #gh-head .gh-burger {
      @apply block;
    }

    #gh-head .gh-head-menu,
    #gh-head .gh-head-actions {
      @apply fixed justify-center invisible opacity-0;
    }

    #gh-head .gh-head-menu {
      @apply transition-none translate-y-0 m-0;
    }

    #gh-head .nav {
      @apply gap-4 items-center;
    }

    #gh-head .nav a {
      @apply text-3xl font-semibold normal-case leading-loose;
    }

    #gh-head .nav li {
      @apply opacity-0 -translate-y-1;
    }

    #gh-head :is(.gh-head-button, .gh-head-link) {
      @apply opacity-0 translate-y-2;
    }

    #gh-head .gh-head-button {
      @apply w-full text-[1.8rem] normal-case opacity-0 translate-y-2;
    }

    .gh-head-open#gh-head {
      @apply fixed z-50 h-full overflow-y-scroll [-webkit-overflow-scrolling:touch] inset-0;
    }

    .gh-head-open#gh-head,
    .gh-head-open#gh-head .gh-head-actions {
      @apply bg-[color:var(--ghost-accent-color)];
    }

    .gh-head-open#gh-head .gh-head-menu,
    .gh-head-open#gh-head .gh-head-actions {
      @apply static visible opacity-100;
    }

    .gh-head-open#gh-head .nav {
      @apply flex flex-col;
    }

    .gh-head-open#gh-head .nav li {
      @apply opacity-100 transition-transform duration-[0.2s,_opacity] delay-[0.2s] translate-y-0;
    }

    .gh-head-open#gh-head .gh-head-actions {
      @apply inline-flex flex-col gap-3 items-center [padding:max(4vmin,20px)_0_max(4vmin,28px)] bottom-0 inset-x-0;
    }

    .gh-head-open#gh-head :is(.gh-head-button, .gh-head-link) {
      @apply opacity-100 transition-transform duration-[0.4s,opacity] delay-[0.4s_0.2s] translate-y-0;
    }

    .gh-head-open#gh-head .gh-head-link {
      @apply delay-[0.4s];
    }
  }

  /* 5. Post Feed
  /* ---------------------------------------------------------- */
  .post-feed {
    @apply relative grid gap-[4.8vmin_4vmin] grid-cols-[repeat(6,1fr)] pl-0 pt-[max(4.8vmin,36px)] pb-0 px-0 max-[991px]:grid-cols-[1fr_1fr] max-md:grid-cols-[1fr] max-md:gap-10;
  }

  :is(.tag-template, .author-template) .post-feed {
    @apply mt-[4vmin];
  }

  .post-card {
    @apply relative col-span-2 flex flex-col bg-cover [word-break:break-word];
  }

  .post-card-image-link {
    @apply relative overflow-hidden block mb-8 after:content-[""] after:block after:pb-[55%];
  }

  .post-card[class*="post-access-"] .post-card-image-link::after {
    @apply bg-[rgba(0,0,0,0.5)] backdrop-blur-[3px];
  }

  .post-card-image {
    @apply bg-ctp-surface1;
    @apply absolute w-full h-full [background:no-repeat_center_center] object-cover inset-0;
  }

  .post-card-access {
    @apply absolute z-10 flex items-center justify-center gap-1 text-2xl font-semibold text-white inset-0;
  }

  .post-card-content-link {
    @apply relative block text-ctp-text hover:no-underline;
  }

  .post-feed .no-image .post-card-content-link {
    @apply p-0;
  }

  .no-image .post-card-header {
    @apply mt-0;
  }

  .post-card-tags {
    @apply flex items-center gap-3 text-ctp-subtext1 text-base font-semibold tracking-[-0.005em] leading-none mt-0 mb-2.5 mx-0;
  }

  .post-card-featured {
    @apply relative flex items-center gap-[3px] text-ctp-text pl-[18px];
  }

  .post-card-featured svg {
    @apply absolute left-0;
  }

  .post-card-title {
    @apply text-2xl font-extrabold m-0 text-ctp-text;
  }

  .post-card-content-link:hover .post-card-title {
    @apply opacity-90;
  }

  .no-image .post-card-title {
    @apply mt-0;
  }

  .post-card-title svg {
    @apply -mt-12 -ml-px;
  }

  .post-card-content {
    @apply grow flex flex-col;
  }

  .post-card-excerpt {
    @apply [display:-webkit-box] overflow-y-hidden max-w-2xl text-base leading-normal [-webkit-line-clamp:3] [-webkit-box-orient:vertical] [word-break:break-word] mt-3 text-ctp-subtext1;
  }

  .post-card:not(.post-card-large):not(.dynamic):not(.no-image)
    .post-card-excerpt {
    @apply [-webkit-line-clamp:2];
  }

  :is(.tag-template, .author-template) .post-card-excerpt {
    @apply mt-1.5;
  }

  :is(.tag-template, .author-template) .post-card-large .post-card-excerpt {
    @apply block overflow-y-auto;
  }

  .post-card-meta {
    @apply flex items-center gap-1.5 text-base text-ctp-subtext1 mt-3 p-0;
  }

  .post-card-meta > * {
    @apply flex items-center gap-1.5;
  }

  .post-card-meta > * + *:not(script)::before {
    @apply w-0.5 h-0.5 content-[""] bg-ctp-subtext0 rounded-[50%];
  }

  .post-card-meta .sep {
    @apply mx-1 my-0;
  }

  .author-profile-image {
    @apply block w-full h-full bg-ctp-surface2 object-cover rounded-[100%] dark:opacity-100;
  }

  .author-profile-image path {
    @apply dark:fill-ctp-base;
  }

  .author-list {
    @apply flex flex-wrap [list-style:none] ml-1 mr-0 my-0 p-0;
  }

  .author-list-item {
    @apply relative shrink-0 m-0 p-0;
  }

  .no-image .author-social-link a {
    @apply dark:text-ctp-text;
  }

  /* Special Styling for home page grid (below):

        The first post in the list is styled to be bigger than the others and take over
        the full width of the grid to give it more emphasis. Wrapped in a media query to
        make sure this only happens on large viewports / desktop-ish devices.

        */
  @media (min-width: 1001px) {
    .post-card-large {
      @apply col-span-6 grid gap-[4vmin] grid-cols-[repeat(3,1fr)] border-t-0;
    }

    .post-card-large:not(.no-image) .post-card-header {
      @apply mt-0;
    }

    .post-card-large .post-card-image-link {
      @apply relative col-span-2 mb-0;
    }

    .post-card-large .post-card-content {
      @apply col-span-1;
    }

    .post-card-large.no-image .post-card-content {
      @apply col-span-2;
    }

    .post-card-large .post-card-image {
      @apply absolute w-full h-full;
    }

    .post-card-large .post-card-tags {
      @apply mb-3;
    }

    .post-card-large .post-card-title {
      @apply text-5xl mt-0;
    }

    .post-card-large .post-card-excerpt {
      @apply mt-4;
    }

    .post-card-large + .post-card-large:nth-child(even) {
      @apply mx-0 my-8;
    }

    .post-card-large + .post-card-large:nth-child(even) .post-card-content {
      @apply -order-1;
    }

    .post-card.dynamic {
      @apply col-span-3;
    }

    .post-card.dynamic .post-card-title {
      @apply text-3xl;
    }
  }

  /* Pagination
  /* ---------------------------------------------------------- */
  .pagination {
    @apply hidden grid-cols-[1fr_auto_1fr] items-center mt-[8vmin];
  }

  html.no-infinite-scroll .pagination {
    @apply grid;
  }

  .pagination a {
    @apply text-base font-semibold text-ctp-text;
  }

  .pagination .page-number {
    @apply col-start-2 text-ctp-subtext1 max-md:hidden;
  }

  .pagination .older-posts {
    @apply col-start-3 text-right;
  }

  /* 6. Single Post
  /* ---------------------------------------------------------- */
  .article {
    @apply break-words;
  }

  .post-template .article {
    @apply pt-[max(8vmin,40px)] pb-[max(8vmin,64px)] px-0;
  }

  .post-template .article-header {
    @apply pt-0 pb-[max(6.4vmin,40px)] px-0;
  }

  .page-template .article-header {
    @apply pt-[max(12vmin,64px)] pb-[max(3.2vmin,28px)] px-0;
  }

  .article-tag {
    @apply text-base mb-4 text-ctp-subtext1;
  }

  .article-title {
    @apply text-6xl font-extrabold text-ctp-text mb-0;
  }

  .article-excerpt {
    @apply max-w-[720px] text-2xl text-ctp-text mt-5 max-md:text-3xl max-md:mt-3.5;
  }

  .gh-canvas .article-image {
    @apply col-[main-start_/_main-end] w-full mt-[max(6.4vmin,40px)] mb-0 mx-0;
  }

  .gh-canvas .article-image img {
    @apply block w-full mx-auto;
  }

  /* Content grid
  /* ---------------------------------------------------------- */
  /* Canvas creates a multi-column,centered grid which the post
  is laid out on top of. Canvas just defines the grid,we don't
  use it for applying any other styles. */
  .gh-canvas,
  .kg-width-full.kg-content-wide {
    @apply [--gap:max(4vmin,20px)] [--main:min(var(--content-width,720px),100%_-_var(--gap)_*_2)] [--wide:minmax(0,calc((var(--container-width,1200px)_-_var(--content-width,720px))_/_2))] [--full:minmax(var(--gap),1fr)] grid grid-cols-[[full-start]_var(--full)_[wide-start]_var(--wide)_[main-start]_var(--main)_[main-end]_var(--wide)_[wide-end]_var(--full)_[full-end]];
  }

  .gh-canvas > * {
    @apply col-[main-start_/_main-end];
  }

  .kg-width-wide,
  .kg-content-wide > div {
    @apply col-[wide-start_/_wide-end];
  }

  .kg-width-full {
    @apply col-[full-start_/_full-end];
  }

  .kg-width-full img {
    @apply w-full;
  }

  /* Content
  /* ---------------------------------------------------------- */
  /* Content refers to styling all page and post content that is
    created within the Ghost editor. The main content handles
    headings,text,images and lists. We deal with cards lower down. */
  /* Default vertical spacing */

  .gh-content.gh-canvas {
    @apply prose dark:prose-invert max-w-none prose-lg;
  }

  .gh-content
    > .kg-width-full
    + .kg-width-full:not(.kg-width-full.kg-card-hascaption + .kg-width-full) {
    @apply mt-0;
  }

  /* [id] represents all headings h1-h6,reset all margins */
  /* .gh-content > [id] {
    @apply text-ctp-text m-0 mt-6;
  }
  .gh-content > [id]:first-child {
    @apply m-0 mt-6;
  } */

  /* Add a small margin between a heading and anything after it */
  /* .gh-content > [id] + * {
    @apply mt-6;
  }

  .gh-content p {
    @apply !mb-0;
  } */
  /* A larger margin before/after HRs and blockquotes */
  /* .gh-content > hr,
  .gh-content > blockquote {
    @apply relative mt-[max(4.8vmin,32px)];
  } */
  /* .gh-content > hr + *,
  .gh-content > blockquote + * {
    @apply mt-[max(4.8vmin,32px)];
  } */
  /* Now the content typography styles */
  .gh-content a {
    @apply prose-a:text-[color:var(--ghost-accent-color)] prose-a:underline prose-a:break-words prose-a:dark:text-ctp-text;
  }

  /* .gh-content > blockquote:not([class]),
  .gh-content > ol,
  .gh-content > ul,
  .gh-content > dl,
  .gh-content > p {
    @apply font-normal text-lg;
  } */
  .gh-content > p img {
    @apply mx-auto my-0;
  }

  /* .page-template .gh-content:only-child > *:first-child:not(.kg-width-full) {
    @apply mt-[max(12vmin,64px)];
  }
  .page-template .gh-content > *:last-child:not(.kg-width-full) {
    @apply mb-[max(12vmin,64px)];
  } */
  .gh-content .kg-callout-card .kg-callout-text,
  .gh-content .kg-toggle-card .kg-toggle-content > ol,
  .gh-content .kg-toggle-card .kg-toggle-content > ul,
  .gh-content .kg-toggle-card .kg-toggle-content > p {
    @apply text-xl;
    /* @apply font-normal text-2xl; */
  }

  .gh-content .kg-product-card .kg-product-card-description > p,
  .gh-content .kg-product-card .kg-product-card-description > ol,
  .gh-content .kg-product-card .kg-product-card-description > ul {
    @apply text-xl;
    /* @apply text-2xl leading-[1.6em]; */
  }

  .gh-content .kg-callout-card .kg-callout-emoji {
    @apply text-3xl;
    /* @apply text-4xl leading-[1.4em]; */
  }

  .gh-content .kg-toggle-card .kg-toggle-heading-text {
    @apply text-2xl;
    /* @apply text-3xl; */
  }

  .gh-content > ul,
  .gh-content > ol,
  .gh-content > dl,
  .gh-content .kg-toggle-card .kg-toggle-content > ol,
  .gh-content .kg-toggle-card .kg-toggle-content > ul,
  .gh-content .kg-product-card .kg-product-card-description > ol,
  .gh-content .kg-product-card .kg-product-card-description > ul {
    @apply pl-5;
  }

  /* .gh-content > blockquote:not([class]) {
    @apply relative italic p-0 before:content-[""] before:absolute before:left-[-1.5em] before:w-[0.3rem] before:[background:var(--ghost-accent-color)] before:inset-y-0;
  } */
  .gh-content :not(pre) > code {
    @apply align-middle font-normal text-base text-ctp-text bg-ctp-surface0 px-[0.4em] py-[0.15em] rounded-full border-ctp-surface1 border-solid;
  }

  /* .gh-content pre {
    @apply overflow-auto text-ctp-mantle text-[1.4rem] leading-[1.5em] bg-ctp-overlay2 shadow-[0_2px_6px_-2px_rgba(0,0,0,0.1),0_0_1px_rgba(0,0,0,0.4)] px-5 py-4 rounded-[5px];
  } */
  /* @media (max-width: 650px) {
    .gh-content blockquote:not([class])::before {
      @apply left-[min(-4vmin,-20px)];
    }
  } */
  /* Cards
  /* ---------------------------------------------------------- */
  /* Cards are dynamic blocks of content which appear within Ghost
    posts,for example: embedded videos,tweets,galleries,or
    specially styled bookmark links. We add extra styling here to
    make sure they look good,and are given a bit of extra spacing. */
  /* Add extra margin before/after any cards,
    except for when immediately preceeded by a heading */
  .gh-content :not(.kg-card):not([id]) + .kg-card {
    @apply mt-8;
  }

  .gh-content .kg-card + :not(.kg-card) {
    @apply mt-8;
  }

  /* This keeps small embeds centered */
  .kg-embed-card {
    @apply flex flex-col items-center w-full;
  }

  /* This keeps small iamges centered */
  .kg-image-card img {
    @apply m-auto;
  }

  .kg-image[width][height],
  .kg-gallery-image {
    @apply cursor-pointer;
  }

  .gh-content .kg-callout-card-accent a {
    @apply underline;
  }

  .kg-blockquote-alt {
    @apply text-ctp-subtext0;
  }

  .kg-card.kg-header-card.kg-style-dark {
    @apply bg-ctp-overlay2;
  }

  .kg-header-card.kg-style-light {
    @apply bg-ctp-surface2;
  }

  .kg-header-card h2.kg-header-card-header,
  .kg-header-card h3.kg-header-card-subheader {
    @apply text-ctp-text;
  }

  /* Captions */
  figcaption {
    @apply text-center text-ctp-text opacity-50 text-base pt-3 pb-0 px-4;
  }

  figcaption strong {
    @apply text-ctp-text;
  }

  figcaption a {
    @apply underline;
  }

  /* Highly specific styles for traditional Instagram embeds */
  iframe.instagram-media {
    @apply mt-8 mb-0 mx-auto;
  }

  iframe.instagram-media + script + :not([id]) {
    @apply mt-8;
  }

  /* Card captions
  /* ---------------------------------------------------------- */
  .kg-width-full.kg-card-hascaption {
    @apply grid grid-cols-[inherit];
  }

  .kg-width-wide.kg-card-hascaption img {
    @apply col-[wide-start_/_wide-end];
  }

  .kg-width-full.kg-card-hascaption img {
    @apply col-span-full;
  }

  .kg-width-full.kg-card-hascaption figcaption {
    @apply col-[main-start_/_main-end];
  }

  .article-comments {
    @apply mt-[6vmin] mb-0 mx-0;
  }

  /* -----old------ */
  /* .footnotes-sep {
    @apply mb-[30px];
  }
  .footnotes {
    @apply text-2xl;
  }
  .footnotes p {
    @apply m-0;
  }
  .footnote-backref {
    @apply text-base font-bold no-underline shadow-none;
  } */
  /* Tables */
  /* .gh-content table:not(.gist table) {
    @apply inline-block overflow-x-auto max-w-full w-auto border-spacing-0 text-[1.6rem] whitespace-nowrap align-top bg-[10px_100%,10px_100%] bg-no-repeat border-collapse;
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(
          ellipse at left,
          rgba(0,0,0,0.2) 0%,
          rgba(0,0,0,0) 75%
        )
        0 center,
      radial-gradient(
          ellipse at right,
          rgba(0,0,0,0.2) 0%,
          rgba(0,0,0,0) 75%
        )
        100% center;
    background-attachment: scroll,scroll;
  }
  .gh-content table:not(.gist table) td:first-child {
    @apply bg-[linear-gradient(_to_right,rgba(255,255,255,1)_50%,rgba(255,255,255,0)_100%_)];
    @apply bg-[20px_100%] bg-no-repeat;
  }
  .gh-content table:not(.gist table) td:last-child {
    @apply bg-[linear-gradient(_to_left,rgba(255,255,255,1)_50%,rgba(255,255,255,0)_100%_)] bg-[100%_0];
    @apply bg-[20px_100%] bg-no-repeat;
  }
  .gh-content table:not(.gist table) th {
    @apply bg-ctp-mantle text-ctp-subtext1 text-base font-bold tracking-[0.2px] text-left uppercase;
  }
  .gh-content table:not(.gist table) th,
  .gh-content table:not(.gist table) td {
    @apply px-3 py-1.5 border-ctp-mantle border-solid border;
  } */

  /* 6.1. Post Byline
  /* ---------------------------------------------------------- */
  .article-byline {
    @apply flex justify-between mt-[min(24px,5.6vmin)] mb-0 mx-0;
  }

  .article-byline-content {
    @apply grow flex items-center;
  }

  .article-byline-content .author-list {
    @apply justify-start pl-0 pr-3.5 py-0;
  }

  .article-byline-meta {
    @apply text-ctp-subtext1 text-lg;
  }

  .article-byline-meta .author-name {
    @apply font-bold mt-0 mb-1.5 mx-0 text-ctp-text;
  }

  .article-byline-meta .bull {
    @apply inline-block mx-0.5 my-0;
  }

  .author-avatar {
    @apply block overflow-hidden w-[min(56px,13.6vmin)] h-[min(56px,13.6vmin)] bg-ctp-surface0 -mx-1 my-0 rounded-[50%] border-ctp-surface1 border-[solid];
  }

  .page-template .article-title {
    @apply mb-0;
  }

  @media (max-width: 767px) {
    .article-byline-content .author-list {
      @apply pr-3;
    }

    .article-byline-meta .author-name {
      @apply mb-1;
    }
  }

  /* 6.2. Subscribe
  /* ---------------------------------------------------------- */
  .footer-cta {
    @apply relative text-center;
  }

  .footer-cta-title {
    @apply text-3xl font-extrabold mt-0 mb-[min(24px,6.4vmin)] mx-0 text-ctp-text;
  }

  .footer-cta-button {
    @apply relative inline-flex items-center justify-between w-full max-w-[500px] text-base text-ctp-subtext1 border border-ctp-surface1 transition-[border-color] duration-[0.2s] pl-[15px] pr-[5px] py-[5px] rounded-lg border-solid hover:border-ctp-surface0 bg-ctp-crust;
  }

  .footer-cta-button span {
    @apply inline-block text-white text-base font-semibold tracking-[-0.005em] px-[15px] py-[9px] rounded-md bg-accent;
  }

  /* 6.3. Read more
  /* ---------------------------------------------------------- */
  .read-more-wrap {
    @apply mt-[2.4vmin];
  }

  .footer-cta + .read-more-wrap {
    @apply mt-[max(12vmin,72px)];
  }

  .read-more {
    @apply grid grid-cols-[repeat(6,1fr)] gap-[4vmin];
  }

  .read-more .post-card-tags {
    @apply hidden;
  }

  @media (max-width: 1000px) {
    .read-more {
      @apply grid-cols-[repeat(4,1fr)];
    }

    .read-more .post-card:nth-child(3) {
      @apply hidden;
    }
  }

  @media (max-width: 700px) {
    .read-more {
      @apply grid-cols-[repeat(2,1fr)];
    }

    .read-more .post-card:nth-child(2) {
      @apply hidden;
    }
  }

  /* 6.4. Comments
  /* ---------------------------------------------------------- */
  .comments {
    @apply flex flex-col items-center mt-[60px] mb-11 mx-0;
  }

  .comments-head {
    @apply flex items-baseline justify-between w-full max-w-[720px] mb-8;
  }

  .comments h2 {
    @apply w-full max-w-[720px] font-extrabold text-[3.4rem];
  }

  .comments .comment-count {
    @apply text-ctp-subtext0 font-semibold whitespace-nowrap;
  }

  .comments #ghost-comments-root {
    @apply w-full max-w-[720px];
  }

  /* 7. Author Template
  /* ---------------------------------------------------------- */
  .author-profile-pic {
    @apply block w-20 h-20 object-cover mt-0 mb-8 mx-0 rounded-[50%] bg-ctp-surface0;
  }

  .author-profile-footer {
    @apply mt-4;
  }

  .author-profile-location {
    @apply font-bold text-ctp-text;
  }

  .author-profile-meta {
    @apply flex gap-2.5;
  }

  .author-profile-social-link {
    @apply text-[1.3rem] text-ctp-subtext1 hover:text-ctp-subtext0;
  }

  .author-profile-social-link svg {
    @apply w-4 h-4;
  }

  @media (min-width: 1001px) {
    .author-template .post-card-large .post-card-content:only-child {
      @apply col-span-2 max-w-screen-sm;
    }
  }

  /* 8. Tag Template
  /* ---------------------------------------------------------- */
  .tag-template .post-card-large .post-card-image-link {
    @apply col-[2_/_span_2] order-2;
  }

  .tag-template .post-card-large .post-card-content {
    @apply order-1;
  }

  @media (min-width: 1001px) {
    .tag-template .post-card-large .post-card-content:only-child {
      @apply col-span-2 max-w-screen-sm;
    }
  }

  /* 9. Error Template
  /* ---------------------------------------------------------- */
  .error-content {
    @apply pt-[14vw] pb-[2vw] px-[4vw];
  }

  .error-message {
    @apply text-center pb-[10vw];
  }

  .error-code {
    @apply text-[12vw] leading-[1em] tracking-[-5px] m-0;
  }

  .error-description {
    @apply text-ctp-subtext1 text-[3.2rem] leading-[1.3em] tracking-[-0.005em] font-normal m-0;
  }

  .error-link {
    @apply inline-block mt-[5px];
  }

  @media (min-width: 940px) {
    .error-content .post-card {
      @apply mb-0 pb-0 border-b-[none];
    }
  }

  @media (max-width: 800px) {
    .error-content {
      @apply pt-[24vw];
    }

    .error-code {
      @apply text-[11.2rem];
    }

    .error-message {
      @apply pb-[16vw];
    }

    .error-description {
      @apply text-[1.8rem] mt-[5px] mb-0 mx-0;
    }
  }

  @media (max-width: 500px) {
    .error-content {
      @apply pt-[28vw];
    }

    .error-message {
      @apply pb-[14vw];
    }
  }

  /* 10. Site Footer
  /* ---------------------------------------------------------- */
  .site-footer {
    @apply relative mt-24 mb-0 mx-0 pt-10 pb-24 bg-black font-medium;
  }

  .page-template .site-footer {
    @apply mt-4;
  }

  .site-footer .inner *:nth-child(1) {
    grid-area: copyright;
  }
  .site-footer .inner *:nth-child(2) {
    grid-area: site-footer-nav;
  }
  .site-footer .inner *:nth-child(3) {
    grid-area: gh-powered-by;
    @apply lg:text-right;
  }

  .site-footer .inner {
    @apply grid text-base text-white gap-10 grid-cols-[1.5fr_3fr_1.5fr];
    grid-template-areas: "copyright site-footer-nav gh-powered-by";
  }

  @media (max-width: 1023px) {
    .site-footer .inner {
      @apply max-w-2xl grid-cols-[1fr] grid-flow-col gap-0 text-center;
      grid-template-areas:
        "site-footer-nav"
        "copyright"
        "gh-powered-by";
    }
  }

  .site-footer .copyright a:has(img) {
    @apply inline-block;
  }

  .site-footer .copyright a > img:first-of-type {
    @apply ml-1;
  }

  .site-footer .copyright a > img {
    @apply !h-[22px] align-bottom inline;
  }

  .site-footer a {
    @apply hover:opacity-80 hover:no-underline;
  }

  .site-footer-nav ul {
    @apply flex justify-center flex-wrap mt-0 mb-5 mx-0 p-0 [list-style:none];
  }

  .site-footer-nav li {
    @apply inline-flex items-center leading-[2em] m-0 p-0;
  }

  .site-footer-nav a {
    @apply relative inline-flex items-center ml-2.5;
  }

  .site-footer-nav li:not(:first-child) a:before {
    @apply content-[""] block w-0.5 h-0.5 ml-0 mr-2.5 my-0 rounded-[100%] bg-white;
  }

  /* 12. Lightbox
  /* ---------------------------------------------------------- */
  .pswp {
    @apply absolute z-[3999999] hidden w-full h-full overflow-hidden touch-none left-0 top-0;
    -ms-touch-action: none;
    touch-action: none;
    outline: none;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
  }

  .pswp img {
    @apply max-w-none;
  }

  .pswp--animate_opacity {
    @apply opacity-[0.001] transition-opacity duration-[333ms] ease-[cubic-bezier(0.4,0,0.22,1)] will-change-[opacity];
  }

  .pswp--open {
    @apply block;
  }

  .pswp--zoom-allowed .pswp__img {
    @apply cursor-zoom-in;
  }

  .pswp--zoomed-in .pswp__img {
    @apply cursor-grab;
  }

  .pswp--dragging .pswp__img {
    @apply cursor-grabbing;
  }

  .pswp__bg {
    @apply absolute w-full h-full bg-[rgba(0,0,0,0.85)] opacity-0 transition-opacity duration-[333ms] ease-[cubic-bezier(0.4,0,0.22,1)] will-change-[opacity] left-0 top-0;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .pswp__scroll-wrap {
    @apply absolute w-full h-full overflow-hidden left-0 top-0;
  }

  .pswp__container,
  .pswp__zoom-wrap {
    @apply absolute touch-none inset-0;
    backface-visibility: hidden;
  }

  .pswp__container,
  .pswp__img {
    @apply select-none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  .pswp__zoom-wrap {
    @apply absolute w-full transition-transform duration-[333ms] ease-[cubic-bezier(0.4,0,0.22,1)] origin-[left_top];
  }

  .pswp--animated-in .pswp__bg,
  .pswp--animated-in .pswp__zoom-wrap {
    @apply transition-none;
  }

  .pswp__item {
    @apply absolute overflow-hidden inset-0;
  }

  .pswp__img {
    @apply absolute w-auto h-auto left-0 top-0;
  }

  .pswp__img--placeholder {
    backface-visibility: hidden;
  }

  .pswp__img--placeholder--blank {
    background: #000;
  }

  .pswp--ie .pswp__img {
    @apply w-full h-auto left-0 top-0;
  }

  .pswp__error-msg {
    @apply absolute w-full text-sm leading-4 text-[color:var(--color-secondary-text)] text-center -mt-2 left-0 top-2/4;
  }

  .pswp__error-msg a {
    @apply text-[color:var(--color-secondary-text)] underline;
  }

  .pswp__button {
    @apply relative block float-right w-11 h-11 overflow-visible appearance-none cursor-pointer shadow-none transition-opacity duration-[0.2s] m-0 p-0 border-0 active:opacity-90;
    background: none;
  }

  .pswp__button:focus,
  .pswp__button:hover {
    @apply opacity-100;
  }

  .pswp__button:active {
    outline: none;
  }

  .pswp__button::-moz-focus-inner {
    @apply p-0 border-0;
  }

  .pswp__ui--over-close .pswp__button--close {
    @apply opacity-100;
  }

  .pswp__button,
  .pswp__button--arrow--left::before,
  .pswp__button--arrow--right::before {
    @apply w-11 h-11 bg-[264px_88px];
    background: url("../images/default-skin.png") 0 0 no-repeat;
  }

  @media (-webkit-min-device-pixel-ratio: 1.1),
    (-webkit-min-device-pixel-ratio: 1.09375),
    (min-resolution: 105dpi),
    (min-resolution: 1.1dppx) {
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left::before,
    .pswp--svg .pswp__button--arrow--right::before {
      @apply bg-[url("../images/default-skin.svg")];
    }

    .pswp--svg .pswp__button--arrow--left,
    .pswp--svg .pswp__button--arrow--right {
      background: none;
    }
  }

  .pswp__button--close {
    @apply bg-[0_-44px];
  }

  .pswp__button--share {
    @apply bg-[-44px_-44px];
  }

  .pswp__button--fs {
    @apply hidden;
  }

  .pswp--supports-fs .pswp__button--fs {
    @apply block;
  }

  .pswp--fs .pswp__button--fs {
    @apply bg-[-44px_0];
  }

  .pswp__button--zoom {
    @apply hidden bg-[-88px_0];
  }

  .pswp--zoom-allowed .pswp__button--zoom {
    @apply block;
  }

  .pswp--zoomed-in .pswp__button--zoom {
    @apply bg-[-132px_0];
  }

  .pswp--touch .pswp__button--arrow--left,
  .pswp--touch .pswp__button--arrow--right {
    @apply invisible;
  }

  .pswp__button--arrow--left,
  .pswp__button--arrow--right {
    @apply absolute w-[70px] h-[100px] mt-[-50px] top-2/4;
    background: none;
  }

  .pswp__button--arrow--left {
    @apply left-0 before:bg-[-138px_-44px] before:left-1.5;
  }

  .pswp__button--arrow--right {
    @apply right-0 before:bg-[-94px_-44px] before:right-1.5;
  }

  .pswp__button--arrow--left::before,
  .pswp__button--arrow--right::before {
    @apply absolute w-8 h-[30px] content-[""] top-[35px];
  }

  .pswp__counter {
    @apply absolute h-11 text-[11px] font-bold leading-[44px] text-white select-none px-[15px] py-0 left-0 top-0;
  }

  .pswp__caption {
    @apply absolute w-full min-h-[44px] left-0 bottom-0;
  }

  .pswp__caption__center {
    @apply max-w-[420px] text-[11px] leading-[1.6] text-white text-center mx-auto my-0 pt-[25px] pb-[30px] px-[15px];
  }

  .pswp__caption__center .post-caption-title {
    @apply text-[15px] font-medium uppercase mb-[7px];
  }

  .pswp__caption__center
    .post-caption-meta-item
    + .post-caption-meta-item::before {
    @apply content-["\02022"] px-1 py-0;
  }

  .pswp__caption--empty {
    @apply hidden;
  }

  .pswp__caption--fake {
    @apply invisible;
  }

  .pswp__preloader {
    @apply absolute w-11 h-11 ml-[-22px] opacity-0 transition-opacity duration-[0.25s] ease-[ease-out] will-change-[opacity] left-2/4 top-0;
    direction: ltr;
  }

  .pswp__preloader__icn {
    @apply w-5 h-5 m-3;
  }

  .pswp__preloader--active {
    @apply opacity-100;
  }

  .pswp__preloader--active .pswp__preloader__icn {
    background: url("../images/preloader.gif") 0 0 no-repeat;
  }

  .pswp--css_animation .pswp__preloader--active {
    @apply opacity-100;
  }

  .pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    @apply animate-spin;
  }

  .pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    @apply animate-bounce;
  }

  .pswp--css_animation .pswp__preloader__icn {
    @apply absolute w-3.5 h-3.5 opacity-75 m-0 left-[15px] top-[15px];
    background: none;
  }

  .pswp--css_animation .pswp__preloader__cut {
    @apply relative w-[7px] h-3.5 overflow-hidden;
  }

  .pswp--css_animation .pswp__preloader__donut {
    @apply absolute box-border w-3.5 h-3.5 m-0 rounded-[50%] border-l-transparent border-b-transparent border-2 border-solid border-white left-0 top-0;
    background: none;
  }

  @media screen and (max-width: 1024px) {
    .pswp__preloader {
      @apply relative float-right m-0 left-auto top-auto;
    }
  }

  .pswp__ui {
    @apply z-[1550] visible opacity-100;
    -webkit-font-smoothing: auto;
  }

  .pswp__top-bar {
    @apply absolute w-full h-11 left-0 top-0;
  }

  .pswp__caption,
  .pswp__top-bar,
  .pswp--has_mouse .pswp__button--arrow--left,
  .pswp--has_mouse .pswp__button--arrow--right {
    @apply transition-opacity duration-[333ms] ease-[cubic-bezier(0.4,0,0.22,1)] will-change-[opacity];
    backface-visibility: hidden;
  }

  .pswp--has_mouse .pswp__button--arrow--left,
  .pswp--has_mouse .pswp__button--arrow--right {
    @apply visible;
  }

  .pswp__ui--idle .pswp__top-bar {
    @apply opacity-0;
  }

  .pswp__ui--idle .pswp__button--arrow--left,
  .pswp__ui--idle .pswp__button--arrow--right {
    @apply opacity-0;
  }

  .pswp__ui--hidden .pswp__top-bar,
  .pswp__ui--hidden .pswp__caption,
  .pswp__ui--hidden .pswp__button--arrow--left,
  .pswp__ui--hidden .pswp__button--arrow--right {
    @apply opacity-[0.001];
  }

  .pswp__ui--one-slide .pswp__button--arrow--left,
  .pswp__ui--one-slide .pswp__button--arrow--right,
  .pswp__ui--one-slide .pswp__counter {
    @apply hidden;
  }

  .pswp__element--disabled {
    @apply hidden;
  }

  .pswp--minimal--dark .pswp__top-bar {
    background: none;
  }
}

@tailwind utilities;

@layer utilities {
  /* Code Snippet */
  /* ---------------------------------------------------------- */
  .kg-code-card > figcaption {
    margin: 0;
    padding: 0;
  }


  /* Table of Contents */
  /* ---------------------------------------------------------- */
  .gh-content {
    position: relative;
  }

  .gh-toc > .toc-list {
    position: relative;
    font-size: 1rem;
  }

  .toc-list {
    overflow: hidden;
    list-style: none;
  }

  @media (min-width: 1300px) {
    .gh-sidebar {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: 4vmin;
      grid-column: wide-start / main-start; /* Place the TOC to the left of the content */
    }

    .gh-toc {
      position: sticky; /* On larger screens, TOC will stay in the same spot on the page */
      top: 4vmin;
    }
  }

  .gh-toc .is-active-link::before {
    background-color: var(
      --ghost-accent-color
    ); /* Defines TOC accent color based on Accent color set in Ghost Admin */
  }

  /* Dark mode button */
  /* ---------------------------------------------------------- */
  button.gh-dark-btn {
    @apply text-white hover:opacity-80 rounded-full text-sm p-2.5;
  }
  button.gh-dark-btn > svg {
    @apply w-5 h-5;
  }
  
  .hidden {
    display: none !important;
  }
  
  
}

[x-cloak] { display: none !important; }
